h1 {
    font-stretch: expanded;
    font-weight: bolder;
}

.summary {
    font-weight: bold;
}

header {
    background-color: rgb(103, 250, 201);
}

body {
    background-color: rgb(234, 234, 254);}