h1 {
    font-stretch: expanded;
    font-weight: bolder;
}

.summary {
    font-weight: bold;
}

header {
    background-color: rgb(103, 250, 201);
}

body {
    background-color: rgb(234, 234, 254);
}

.sidebar {
    width: 125px; 
    height: 666px; 
    background: white; 
    float: left; 
    box-sizing: content-box; 
    padding: 10px; 
    padding-right: 20px;}

main {
    padding: 20px 200px;
}